{
  wordsize: 256
  alignbits: 32
  parts: [
    {
      name: "MAC Dest"
      length: 48
    },
    {
      name: "MAC SRC"
      length: 48
    },
    {
      name: "Ethertype"
      length: 16
    },
    {
      name: "Data"
      length: 400
    }
  ]
}
